{% extends 'base.html.twig' %}
{% block body %}
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('list') }}">Список книг</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('add') }}">Добавить книгу</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('edit') }}">Редактировать книгу</a>
        </li>
    </ul>
    <div class="content">
        <h1>{{ title }}</h1>
        <br>
        {{ form(form) }}
    </div>
{% endblock %}